<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice's API</title>
</head>

<body>
    <h1>Invoice's API</h1>
    <h2>Base URL: <a href="https://invoicesapi.herokuapp.com/api/invoices" target="_blank"
            rel="noopener noreferrer">https://invoicesapi.herokuapp.com/api</a>
    </h2>
    <h3>Endpoints:</h3>
    <ul>
        <li>To GET all the invoices: <a href="https://invoicesapi.herokuapp.com/api/invoices/" target="_blank"
                rel="noreferrer noopener">/invoices</a></li>
        <li>To GET a single invoice: <a href="https://invoicesapi.herokuapp.com/api/invoices/612e2576367bd99e13c40610"
                target="_blank" rel="noreferrer noopener">/invoices/:id</a></li>
        <li>To POST a new invoice: <a href="https://invoicesapi.herokuapp.com/api/invoices/" target="_blank"
                rel="noreferrer noopener">/invoices</a></li>
        <li>To DELETE an invoice: <a href="https://invoicesapi.herokuapp.com/api/invoices/" target="_blank"
                rel="noreferrer noopener">/invoices/:id</a></li>
        <li>To UPDATE an invoice: <a href="https://invoicesapi.herokuapp.com/api/invoices/" target="_blank"
                rel="noreferrer noopener">/invoices/:id</a></li>
        <li>Query the invoices using <b>status</b> parameter: <a
                href="https://invoicesapi.herokuapp.com/api/invoices?status=paid" target="_blank"
                rel="noreferrer noopener">/invoices?status=paid</a></li>
    </ul>
    <blockquote>Note: <b>status</b> parameter can be any of the following values: <a
            href="https://invoicesapi.herokuapp.com/api/invoices?status=paid" target="_blank"
            rel="noreferrer noopener">paid</a>, <a href="https://invoicesapi.herokuapp.com/api/invoices?status=pending"
            target="_blank" rel="noreferrer noopener">pending</a> and <a
            href="https://invoicesapi.herokuapp.com/api/invoices?status=draft" target="_blank"
            rel="noreferrer noopener">draft</a>
    </blockquote>
</body>

</html>